.resume {
  article {
    border-bottom: 1px solid #81b29a;
    margin-bottom: 2rem;
  }
  .intro {
    display: flex;
    gap: 7rem;
  }
  .concepts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    .concept {
      //   h2 {
      //     text-align: center;
      //   }
      padding: 1rem;
      width: calc(50% - 5rem);

      //   border-width: 5px;
      //   border-style: solid;
      //   border-image: linear-gradient(to right, #81b29a, #4c7f5f) 1;
      //   box-shadow: 0 0 10px rgba(76, 127, 95, 0.5),
      //     0 0 20px rgba(76, 127, 95, 0.5) inset, 0 0 10px rgba(129, 178, 154, 0.5);
    }
  }
  h1 {
    font-size: 3.6rem;
    margin-bottom: 10rem;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  li,
  p {
    max-width: 50ch;
    font-size: 1.6rem;
    color: #bfc1c5;
  }
  li {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
  }
}
