@use "../variables.scss" as var;
.icon-animated {
  width: 20px; /* Adjusted width */
  height: 20px; /* Adjusted height */
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.icon-animated .tick svg {
  position: absolute;
  left: 5px; /* Adjusted left position */
  top: 2px; /* Adjusted top position */
  fill: #fff;
  width: 8px; /* Adjusted width */
  height: 16px; /* Adjusted height */
}

.icon-animated-tick .circle {
  fill: var.$accent-color;
  animation-fill-mode: forwards;
  animation-name: circle-pulse;
  animation-duration: 2s;
  animation-iteration-count: 1;
  width: 20px; /* Adjusted width */
  height: 20px; /* Adjusted height */
}

.tick-leg1 {
  fill: #fff;
  animation-fill-mode: forwards;
  animation-name: tick-swipe1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform: scaleX(0);
  transform-origin: left bottom;
  opacity: 0;
}

.tick-leg2 {
  fill: #fff;
  animation-fill-mode: forwards;
  animation-name: tick-swipe2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform: scaleY(0);
  transform-origin: right bottom;
  opacity: 0;
}

@keyframes tick-swipe1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes tick-swipe2 {
  40% {
    opacity: 0;
  }
  47% {
    transform: scaleY(0.15);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes circle-pulse {
  0%,
  25%,
  75%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.tick {
  width: 20px; /* Adjusted width */
  height: 20px; /* Adjusted height */
  transform: rotate(45deg) scale(0.8);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.tick-holder {
  transform: scale(0.6);
}
